<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">                
        <title>Musica Cloud</title>
        <link rel="stylesheet" href="../css/bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="../css/music.css" type="text/css"/>
        <link rel="stylesheet" href="engine1/style.css">
    </head>
        
    <body>
        <div id="all_content">
            <div id="slider">
                <div class="csslider1 autoplay">
                    <input name="cs_anchor1" id="cs_slide1_0" type="radio" class="cs_anchor slide" >
                    <input name="cs_anchor1" id="cs_slide1_1" type="radio" class="cs_anchor slide" >
                    <input name="cs_anchor1" id="cs_slide1_2" type="radio" class="cs_anchor slide" >
                    <input name="cs_anchor1" id="cs_slide1_3" type="radio" class="cs_anchor slide" >
                    <input name="cs_anchor1" id="cs_slide1_4" type="radio" class="cs_anchor slide" >
                    <input name="cs_anchor1" id="cs_slide1_5" type="radio" class="cs_anchor slide" >
                    <input name="cs_anchor1" id="cs_play1" type="radio" class="cs_anchor" checked>
                    
                        
                    <ul>
                 
                        <img id="firstImg" src="data1/images/headphonesgraymusic.jpg" alt="Headphones-Gray-Music"> 
                       
                        <li class="num0 img">
                            <img src="data1/images/headphonesgraymusic.jpg" alt="Headphones-Gray-Music" title="Headphones-Gray-Music" />
                        </li>
                        <li class="num1 img">
                            <img src="data1/images/loveandmusic1.jpg" alt="love-and-music1" title="love-and-music1" />
                        </li>
                        <li class="num2 img">
                            <img src="data1/images/music.jpg" alt="Music" title="Music" />
                        </li>
                        <li class="num3 img">
                            <img src="data1/images/musiccloudheader.jpg" alt="MusicCloudHeader" title="MusicCloudHeader" />
                        </li>
                        <li class="num4 img">
                            <img src="data1/images/musictree.jpg" alt="Music-Tree" title="Music-Tree" />
                        </li>
                        <li class="num5 img">
                            <img src="data1/images/musicwallpapermusic3698618119201200.jpg" alt="Music-Wallpaper-music-36986181-1920-1200" title="Music-Wallpaper-music-36986181-1920-1200" />
                        </li>   
                    </ul>
                </div> 
            </div>
            <div>
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <img id = "lg" class = "img-responsive" src = "../img/icon.png" alt="logo">
                        <div class="container">
                            
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#AllMusic">Songs</a></li>
                                <li><a href="#AllArtist">Artists</a></li>
                                <li><a href="#SignUp">Sign Up</a></li>
                                <li><a href="#SignIn">Sign in</a></li>
                                <li>
                                    <audio preload="auto" src="#" controls id = "player" >
                                    </audio>
                                </li>
                                <li>
                                    <div id = "searchbar" style="margin-top:2px;">
                                        <form class="navbar-form navbar-right inline-form">
                                            <div class="form-group" >
                                                <input type="search" class="input-sm form-control" placeholder="Recherche" onkeyup="searchBar(this.value)">
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div><!--/.navbar-collapse -->
                            
                    </div><!--/.container -->
                        
                </nav>
                    
                <h1 class = "logo">Hear the world’s sounds, on MusicaNubes</h1>
            </div>
                
                <div id = "content">
                
                <div id = "center">
                </div>
            </div>
            <div id = "playlist">
                <div class="list-group">
                    <H1>Playlist</H1>
                    <a href="#" class="list-group-item active">
                        Cras justo odio
                    </a>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>                
        </div>
        <script src="../js/jquery.js"></script> 
        <script src = "../js/bootstrap.js"></script>
        <script src="../js/jsPrincipal.js"></script>
        <script src="../js/hash.js"></script>
    </body>
</html>